<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>哈希</title>
</head>

<body>
    <button onclick="toggleHash()">增加hash</button>
    <button onclick="toggleHash()">删除hash</button>
    
    <script>
        function toggleHash() {
            location.hash = location.hash ? '' : 'hash';
        }

        window.addEventListener('hashchange', function (e) {
            document.body.style.backgroundColor = document.body.style.backgroundColor ? '' : 'red';
        })
    </script>
</body>

</html>