<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>innerHTML导致iframe重复请求</title>
    <style>
        iframe{
            border: 1px solid #222;
        }
    </style>
</head>
<body>
<div id="container">
    <iframe src="/iframe-1" frameborder="0"></iframe>
    <iframe src="/iframe-2" frameborder="0"></iframe>
    <iframe src="/iframe-3" frameborder="0"></iframe>
</div>

<script>
    document.getElementById('container').innerHTML += '<p>上面是iframe</p>';
</script>


<script>
    //原因：
    // document.getElementById('container').innerHTML = document.getElementById('container').innerHTML + '<p>上面是iframe</p>';

    //解决方案：
    // var div = document.createElement('div');
    // var text = document.createTextNode('广告');
    // div.appendChild(text);
    //
    // document.getElementById('container').appendChild(div);

    //总结：
    // 1.chrome开发者工具中的Network > Initiator（启动程序）代表请求的触发处，对于排查请求从何而来非常有用
    //
    // 2.请求状态为canceled，表示请求被浏览器取消了，并没有从浏览器发出去，更不可能进到服务器
    //
    // 3.iframe在请求没有完成前重复请求会被浏览器canceled
    //
    // 4.element.innerHTML += HTMLStr 表示将原有的子节点和新的节点拼接后再重新赋值，慎用！！！

</script>
</body>
</html>